p,
h1 {
    color: royalblue;
}

.ma-classe {
    color: blueviolet;
}

.ma-classe-2 {
    color: red;
    font-size: large;
}

p {
    /**  
    Ici on va modifier les type de police 
    **/
    font-family: Arial;
    /* ON change la taille des paragrahes. L'unité relatif em s'adapte à la taille de l'écran */
    font-size: 2em;
    /* Changer le style des paragrahes en : italics, gras, souligner */
    font-style: italic;

}


h1 {
    /** 
    On applique le type de police importé sur les titres niveau 1 
    **/
    font-family: 'Lobster', sans-serif;
    /* ON change la taille des titres. L'unité relatif em s'adapte à la taille de l'écran */
    font-size: 3em;
    /* On change l'alignement des textes  */
    text-align: center;
    /* Changer la couleur des titres (Utilisation de google color picker) */
    /* color: #5b3499; Methode Hexa */
    color: rgba(91, 52, 153, 0.5); /* Ici on joue sur l'opacité de la couleur */

    /* On ajoute une couleur de fond */
    background-color: beige;

    /* On ajoute un fond de dégradé, voir le site uiGradients */
    background: linear-gradient(to right,#1E9600, #FFF200, #FF0000);
}

/* Changer le style des mots en : italics, gras, souligner */

.introduction {
    font-weight: 700;
    /* Point de repère : 400 => weight normal des sites  */
}

body {
    /* On ajoute une couleur de fond à toute la page  */
    background-color: azure;
}

.mon_titre {
    /* Ici on ajoute une image de fond sur le titre principal  */
    background-image: url(Images/colibris_groupe.avif);
    /* On change aussi la couleur et le padding (à voir plus tard) */
    color:white; 
    padding: 150px;

    /* On fixe l'image en arrière-plan avec la commande suivante. L'image reste fix lorsque on defile la page*/
    background-attachment: fixed;

    /* L'image doit couvrir la largeur de la page  */
    background-size: cover;

    /* On change la postion de l'image de fond  */
    background-position: bottom;

    /* Changer l'opacité de l'image de fond  */
    opacity: 0.8;
}