p,
h1 {
    color: royalblue;
}

.ma-classe {
    color: blueviolet;
}

.ma-classe-2 {
    color: red;
    font-size: large;
}

p {
    /**  
    Ici on va modifier les type de police 
    **/
    font-family: Arial;
    /* ON change la taille des paragrahes. L'unité relatif em s'adapte à la taille de l'écran */
    font-size: 2em;
    /* Changer le style des paragrahes en : italics, gras, souligner */
    font-style: italic;

    /* On va ajouter de la marge au texte */
    margin: 50px;
    background-color: #bac9ce;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 200px;

}


h1 {
    /** 
    On applique le type de police importé sur les titres niveau 1 
    **/
    font-family: 'Lobster', sans-serif;
    /* ON change la taille des titres. L'unité relatif em s'adapte à la taille de l'écran */
    font-size: 3em;
    /* On change l'alignement des textes  */
    text-align: center;
    /* Changer la couleur des titres (Utilisation de google color picker) */
    /* color: #5b3499; Methode Hexa */
    color: rgba(91, 52, 153, 0.5); /* Ici on joue sur l'opacité de la couleur */

    /* On ajoute une couleur de fond */
    background-color: beige;

    /* On ajoute un fond de dégradé, voir le site uiGradients */
    background: linear-gradient(to right,#1E9600, #FFF200, #FF0000);

    /* Ici on va ajouter une bordure centré au text  */
    /* border: 2px dotted black; */
    /* La propriété border peut être separé pour chacun des cotés */
    border-bottom: 2px dotted black;
    border-top: 4px solid red;
    border-left: 6px double blue;
    border-right: 8px dotted green;

    /* Après on utilise la propriété border-radius pour changer la forme de notre bordure. */
    /* border-radius: 10px 30px 0px 90px; */

    /* On peut aussi utiliser des formes plus complexe grace au site Francy Border Radius Generator  */
    border-radius: 74% 26% 21% 79% / 50% 87% 13% 50% ;

    /* Maintenant on va ajouter de l'ombre sur notre bordure. Pour cela on va utiliser box-shadow. La prémière valeur est le décalage horizontale, la 2e le décalage verticale, la 3e valeur est l'adoucissement et la dernière valeur est la couleur. */
    box-shadow: 6px 6px 15px black;

    /* On peut faire de même sur les titres */
    text-shadow: 3px 3px 0px black;
}

/* Changer le style des mots en : italics, gras, souligner */

.introduction {
    font-weight: 700;
    /* Point de repère : 400 => weight normal des sites  */
}

body {
    /* On ajoute une couleur de fond à toute la page  */
    background-color: azure;
}

.mon_titre {
    /* Ici on ajoute une image de fond sur le titre principal  */
    background-image: url(Images/colibris_groupe.avif);
    /* On change aussi la couleur et le padding (à voir plus tard) */
    color:white; 
    padding: 150px;

    /* On fixe l'image en arrière-plan avec la commande suivante. L'image reste fix lorsque on defile la page*/
    background-attachment: fixed;

    /* L'image doit couvrir la largeur de la page  */
    background-size: cover;

    /* On change la postion de l'image de fond  */
    background-position: bottom;

    /* Changer l'opacité de l'image de fond  */
    opacity: 0.8;

    /* Ici on va ajouter une bordure centré au text  */
    border: 2px dotted black; 

    /* Après on utilise la propriété border-radius pour changer la forme de notre bordure. */
    border-radius: 10px 30px 0px 90px; 

    /* On modifie la largeur du bloc  */
    width: 50%; /*Valeur en px ou %*/
    height: 400px;

    /* On va maintenant centrer notre bannière */
    margin: auto;
}

img:hover {
    /* Ici on va utiliser la pseudo-classe pour ajouter de la dynamique dans le site  */
    opacity: 0.5;
}


a:hover {
    /* On fait de même pour les liens  */
    color: #FF0000;
    text-decoration: none;
}

a:active {
    /* Maintenant on va utiliser au moment du clic  */
    color: #1E9600;
    text-decoration: underline;
    text-decoration-color: #1E9600;
}

a:focus {
    /* Ici on mets une différence pour la selection au clavier ( grace à Tab par exemple) */
    background-color: black;
    color: white;
    outline-color: deeppink;
}

img:hover + h2 {
    /* Ici on utilise la commande siblings ou selecteur de voisin pour changer la couleur du titre après l'image  */
    color: deeppink;
}

.box {
    display: flex;
    border: 2px solid black; 
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
}

/* .conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    align-items: center;
    /* On utilise flex-wrap pour adapter les éléments en fonction de la taille de l'écran est petite */
    /* flex-wrap: wrap; */
    /* Ajouter des espaces entre les éléments avec gap */
    /* gap: 20px; */
/* } */ 

/* Ici on va utiliser la méthode CSS Grids */
.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 100px 200px 150px;
    gap: 20px;
}

.one {
    grid-column-start: 1;
    grid-column-end: 6;
}

.two {
    grid-row-start: 2;
    grid-row-end: 4;
}

.three {
    grid-column-start: 2;
    grid-column-end: 4;
}

.four {
    grid-column-start: 4;
    grid-column-end: 6;
}

.five {
    grid-column-start: 2;
    grid-column-end: 6;
}

.six {
    grid-column-start: 1;
    grid-column-end: 4;
}

.seven {
    grid-column-start: 4;
    grid-column-end: 6;
}

.eight {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nine {
    grid-column-start: 3;
    grid-column-end: 6;
}

/* Transformer un lien en block */
a {
    background-color: #023e8a;
    color: white;
    display: block;
    width: 300px;
    height: 100px;
}