p,
h1 {
    color: royalblue;
}

.ma-classe {
    color: blueviolet;
}

.ma-classe-2 {
    color: red;
    font-size: large;
}

/**  
   Ici on va modifier les type de police 
**/

p {
    font-family: Arial;
}

/** 
  On applique le type de police importé sur les titres niveau 1 
**/
h1 {
    font-family: 'Lobster', sans-serif;
}